<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <p>This site was created by Suh Kim. It uses data from mapbox.com and darksky.net</p>
        {{>header}}
        <img class="portrait" src="/img/suhkim.jpg">
    </div>
    
    {{>footer}}
</body>

</html>